.container {
  display: flex;
  flex-direction: column;
  background-size: cover;
  /* padding-bottom: 15px; */
}

.logo {
  width: 65px;
}

.dashboard {
  text-align: center;
  font-size: 25px;
  font-weight: 300;
}

.dashboardCont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dashboardCont > img {
  width: 55px;
}

.title {
  /* margin-bottom: 15px; */
  text-align: center;
  font-weight: 200;
  background: #ff6b6b41;
  font-family: 'Amatic SC', cursive;
  display: flex;
  justify-content: center;
}

.img {
  width: 60px;
}

.containerItem {
  width: 140px;
  height: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #dbd8d841;
  /* border-radius: 15px; */
}

.contentItem {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.titleItem {
  width: 100px;
  text-align: center;
}

.menuOffice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 130px;
}

@media screen and (min-width: 940px) {
  .title {
    font-size: 45px;
  }
}

@media screen and (max-width: 939px) {
  .title {
    font-size: 35px;
  }
}