.container {
  display: flex;
  justify-content: space-between;
  /* flex-direction: column; */
  background-size: cover;
  /* padding-bottom: 15px; */
}

.headerbOf {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background: #f88282; 
  padding: 5px;
  position: fixed;
  z-index: 2;
}

.logo {
  width: 40px;
}

.imgMenu {
  width: 35px;
}

.dashboard {
  text-align: center;
  font-size: 16px;
  font-weight: 300;
}

.dashboardCont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dashboardCont > img {
  width: 45px;
}

.title {
  /* margin-bottom: 15px; */
  text-align: center;
  font-weight: 200;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Amatic SC', cursive;
  font-size: 35px;
  /* display: flex;
  justify-content: center; */
}

.img {
  width: 45px;
}

.containerItem {
  width: 140px;
  height: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #dbd8d841;
  /* border-radius: 15px; */
}

.contentItem {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.titleItem {
  width: 100px;
  text-align: center;
  font-weight: 300;
}

.menuOffice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 130px;
}

@media screen and (min-width: 940px) {
  .title {
    font-size: 35px;
  }
}

/* @media screen and (max-width: 939px) {
  .title {
    font-size: 35px;
  }
} */