.title_contact {
  font-size: 40px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
}

.container_contact {
  padding-top: 50px;
  background: url(../images/cookie_fondoII.jpg);
  background-size: cover;
}

.contact_h3 {
  font-size: 18px;
  font-weight: 300;
  font-family: 'Montserrat', sans-serif;
  text-align: initial;
}

.content_p {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  line-height: 2em;
  text-align: initial;
}

.content_form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact_input {
  border: 1px solid gray;
  padding: 10px;
  border-radius: 30px;
  margin: 15px;
  text-indent: 15px;
  outline: none;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
}

.contact_input_text {
  text-indent: 15px;
  outline: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

@media only screen and (min-width: 941px){
  .contact_input {
    width: 500px;
  }

  .container_contact {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .contact_input_text {
    border: 1px solid gray;
    padding: 15px;
    border-radius: 30px;
    height: 250px;
    width: 500px;
  }

  .content_form {
    margin-top: 20px;
    height: 400px;
  }

  .content_inf {
    width: 40%;
    text-align: center;
  }

  .content_p {
    text-align: initial;
  }
}

@media only screen and (max-width: 940px){
  .title_contact {
    margin-top: 60px;
  }

  .contact_input {
    width: 100%;
  }

  .contact_input_text {
    width: 100%;
    height: 280px;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 10px;
  }

  .container_form_contact {
    width: 80%;
  }

  .container_contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 45px;
    height: 100%;
  }

  .content_inf {
    width: 80%;
    text-align: center;
    padding-bottom: 20px;
  }
}
