.loginTitle {
  padding-top: 100px;
  display: flex;
  justify-content: center;
  font-size: 40px;
  font-weight: 200;
  font-family: 'Montserrat', sans-serif;
}

.container_login {
  height: 450px;
  margin-top: -50px;
}

.content_form_login {
  margin-top: 50px;
}

.container_form {
  margin-top: 20px;
}