.container_about {
  background: url(../images/about_backgroound.jpg);
  background-size: cover;
  height: 100%;
}

.title_nosotros {
  padding-top: 100px;
  font-size: 40px;
  font-weight: 200;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.content_planet{
  width: 260px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 17px;
  margin: 35px;
}

.oval-half-red {
  width: 250px;
  height: 100px;
  -moz-border-radius: 0 50% / 0 100%;
  -webkit-border-radius: 0 50% / 0 100%;
  border-radius: 0 50% / 0 100%;
  background: rgba(255, 107, 107, 0.219);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  font-family: 'Amatic SC', cursive;
}

.content_container_us {
  display: flex;
  overflow-x: scroll;
  background: rgba(240, 248, 255, 0.479);
  border-radius: 15px;
}

.content_container_us::-webkit-scrollbar {
  width: 7px;
  /* background: rgba(255, 107, 107, 0.219); */
}

.content_container_us::-webkit-scrollbar-thumb {
  background-color: #ff6b6b81;
  border-radius: 8px;
}

.content_planet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img_Nosotros {
  width: 100px;
  padding-top: 8px;
}

.container_scroll {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
  margin: auto;
  margin-top: 30px;
  padding-bottom: 50px;
}

.frut_img {
  width: 150px;
}

.content_text {
  padding-top: 28px;
}

.gluten_free {
  padding-top: 30px;
}



