.container {
  margin: auto;
  /* height: 100%; */
  padding-top: 10px;
  padding-bottom: 20px;
}

.title {
  text-align: center;
  font-size: 40px;
  font-weight: 200;
}

thead > tr > th {
  padding: 10px;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  border-bottom: 1px solid rgb(151, 147, 147);
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 3px;
}

tbody > tr > td {
  padding: 10px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  /* border-bottom: 1px solid rgb(151, 147, 147); */
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2px;
}

tbody > tr:hover {
  background-color: #ff6b6b81;
}

.buttonAction {
  margin: 10px;
  text-align: center;
  letter-spacing: 2px;
}

.img {
  width: 35px;
}

.imgDelete {
  margin-left: 14px;
}

.actions {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* @media only screen and (min-width: 941px) {
  .container {
    display: flex;
    flex-direction: column;
  }
} */

@media only screen and (min-width: 940px) {
  .container {
    padding-left: 20px;
  }
}

@media only screen and (max-width: 940px) {
  .container {
    width: 80%;
  }

  .actions {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;
  }

  .contentTable{
    display: flex;
    overflow-x: scroll;
  }

  .contentTable::-webkit-scrollbar-thumb {
    background-color: #ff6b6b81;
    
  }
}